h3 {
	margin: 2px;
	font-size: 19px;
	font-weight: bold;
	text-decoration: underline;
}

#tagcloud {
	width: 15%;
	height: 23%;
	position: absolute;
	margin-left: 83%;
	margin-top: 1%;
	background:#bfd9be;
	color:#181111;
	padding-top: 8px;
	padding-bottom: 18px;
	border: 1px solid #072300;
	text-align:center;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 16px;
}
 
#tagcloud a:link, #tagcloud a:visited {
	text-decoration:none;
	color: #143119;
}
 
#tagcloud a:hover {
	text-decoration: underline;
	color: #745119;
}
 
#tagcloud span {
	padding: 7px;
}
 
#tagcloud .smallest {
	font-size: x-small;
}
 
#tagcloud .small {
	font-size: small;
}
 
#tagcloud .medium {
	font-size:medium;
}
 
#tagcloud .large {
	font-size:large;
}
 
#tagcloud .largest {
	font-size:larger;
}
